<div class="row">
  <div class="large-7 large-centered columns">
    
    <h1>home page</h1>

    <div class="user-feed">
      <% @users.each do |user| %>
        <div>
          <%= link_to (image_tag user.photo.url(:small)), user_path(id: user.id) %>
          <%= user.firstname %>
          <%= user.lastname %>
        </div>
        <br />
        <br />
      <% end %>
    </div>

  </div>
</div>

