.fitmate-header {
  text-align: center;
  line-height: 3em;
}

.fitmate-header a {
  width: 100px;
  display: inline-block;
}

.fitmate-header a:hover {
  opacity: 0.7;
  background: none;
}

.fitmate-header a img {
  width: 100%;
}

.fitmate-header a, .fitmate-header a:visited {
  color: white;
}

p {
  margin-bottom: 10px; !important;
}

.has-dropdown a img {
  border-radius: 3px;
}

.feed-wrapper {
  box-shadow: 5px;
  margin-top: 20px;
}

.feed-profile {
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border-radius: 3px;
}

.feed-profile-info {
  margin-top: 5px;
}

.row.feed-profile {
  margin-bottom: 30px;
}

.feed-profile img {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  border-radius: 3px;
}

.feed-profile-name {
  font-weight: bold;
  font-size: 20px;
}


