.home-header {
  background-color: #457298;
  text-align: center;
}

.home-header img {
  width: 230px;
  padding: 15px 0 20px 0;
}

.signup {
  border-left: 1px solid #457298;
  margin-top: 30px;
  margin-bottom: 30px;
}

.signin {
  margin-top: 30px;
}

.footer {

}