.profile-wrapper {
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border-radius: 3px;
  clear: both;
  margin-top: 20px;
}

.profile-info {
  margin-top: 10px;
}

.profile-info:hover {
  background-color: #e9e9e9;
}

.user-profile img {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  border-radius: 3px;
}

.tag-title {
  text-align: center;
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
  background-color: #e9e9e9;
}

.tag-button .profile-tag-selected { display: none; }

.tag-button.selected .profile-tag-selected { display: block; }
.tag-button.selected .profile-tag-deselected { display: none; }

.profile-tag-selected {
  float: left;
  margin: 5px;
}

.profile-tag-deselected {
  float: left;
  background-color: #C5C5C2;
  margin: 5px;
}

.clear-float {
  clear: both;
}

#photo-submit {
  padding: 5px;
}

.tag-section {
  margin-top: 30px;
}

.profile-name {
  font-weight: bold;
  font-size: 30px;
}

.padding {
  padding-top: 10px;
}

.match {
  font-size: 10px;
}

.profile-percentage {
  float: right;
  font-size: 30px;
  margin-right: 10px;
  text-align: center;
  padding: 10px 5px 1px 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.send-message {
  margin-top: 5px;
  border-radius: 3px;
}

.fa-pencil-square-o {
  color: green;
  font-size: 25px;
  float: right;
}

.test-edit:hover {
  color: black;
}
